# --- Redis Configuration ---
REDIS_HOST=
REDIS_PORT=

# --- PostgreSQL Configuration ---
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST_AUTH_METHOD=

# --- Database Service Configuration ---
API_SERVICE_PORT=

# --- API Gateway Configuration ---
WEB_SCRAPER_URL=
NLP_URL=
DB_SERVICE_URL=
CACHE_TTL=
API_WORKERS=
HTTP_TIMEOUT=

# --- Github Credentials ---
GITHUB_USER=
GITHUB_EMAIL=

# --- Proxies ---
WEBSHARIO_URL=

# --- Docker Settings ---
COMPOSE_FILE=./docker/compose/docker-compose.yml
PYTHONUNBUFFERED=1
LOG_PATH=../../logs

