version: '3.8'

x-common-env: &common-env
  env_file:
    - ./.env

services:
  # --- INFRASTRUCTURE ---
  redis:
    image: "redis:alpine"
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped

  web-scraper:
    build: 
      context: .
      dockerfile: ./microservices/web-scraper/Dockerfile

    depends_on:
      - redis
    
    volumes:
      - web-scraper_logs:/var/log
    <<: *common-env 
    restart: unless-stopped
    
volumes:
  redis_data: {}
  web-scraper_logs: {}

networks:
  sentinel-net:
    driver: bridge
