version: '3.8'

x-common-env: &common-env
  env_file:
    - ./.env

services:
  # --- INFRASTRUCTURE ---
  redis:
    image: "redis:alpine"
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped

  ingestor:
    build: 
      context: .
      dockerfile: ./microservices/ingestor/Dockerfile
    # ensures the 'redis' service is started before the 'ingestor' starts.
    depends_on:
      - redis
      
    environment:
      - REDIS_HOST=redis  # Use the service name 'redis' as the hostname.
      - REDIS_PORT=6379   # This is the internal port Redis listens on.
      
    <<: *common-env 
    restart: unless-stopped

  # --- API GATEWAY ---
  api_gateway:
    build:
      context: ./microservices/api_gateway
      dockerfile: Dockerfile
    container_name: sentinel-backend-api-gateway
    env_file:
      - .env
    depends_on:
      - redis
    ports:
      - "8000:8000"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    networks:
      - sentinel-net
    restart: unless-stopped

volumes:
  redis_data: {}

networks:
  sentinel-net:
    driver: bridge
