version: '3.8'

x-common-env: &common-env
  env_file:
    - ../../.env

services:
  # --- INFRASTRUCTURE ---
  redis:
    image: "redis:alpine"
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped

  ingestor:
    build: 
      context: ../../
      dockerfile: ./microservices/ingestor/Dockerfile
    
    image: sentinel/ingestor:1.0
    
    depends_on:
      - redis
    
    volumes:
      - ingestor_logs:/var/log
    <<: *common-env 
    restart: unless-stopped
    
volumes:
  redis_data: {}
  ingestor_logs: {}

networks:
  sentinel-net:
    driver: bridge
